*{
    margin:0;
    padding:0;
}
ul,li{
    list-style: none;
}
html{
    height: 100%;
    overflow: hidden;
    overflow-y: hidden;
}
body{
    width:100%;
    height:100%;
    font-size:14px;
    overflow: hidden;
}
a{
    text-decoration: none;
    display: block;
}
.content{
    width:100%;
    height:100%;
    background: url("../images/bg_1.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.logo{
    width:1.9rem;
    height:0.91rem;
    position:absolute;
    top:0.45rem;
    left:2.26rem;
}
.logo img{
    width:100%;
    height:100%;
}
.login{
    width:5.0rem;
    height:0.95rem;
    position: absolute;
    left:0.70rem;
    top:1.83rem;
    opacity:1;
}
.login img{
    width: 100%;
    height: 100%;
}
.price{
    width: 1.44rem;
    height: 1.37rem;
    position: absolute;
    top: 2.65rem;
    right: 0.22rem;
}
.price img{
    width: 100%;
    height: 100%;
}
.mango_show{
    width: 6.4rem;
    height: 5.5rem;
    position: absolute;
    top: 2.7rem;
}
.mango_show img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.9
}
.arrow_point{
    width: 0.51rem;
    height: 0.80rem;
    position: fixed;
    top: 7.4rem;
    left: 5.2rem;
    animation: slide 1s infinite;
    -webkit-animation: slide 1s infinite;

}
.arrow_point img{
    width: 100%;
    height: 100%;
}
.btn{
    width: 1.18rem;
    height: 1.1rem;
    position: relative;
    top:8.4rem;
    left: 4.5rem;
}
.btn_b{
    width: 1.17rem;
    height: 1.12rem;
    position: absolute;
    right: 0;
    bottom: 0;
}
.btn_b img{
    width: 100%;
    height: 100%;
}

.btn_t{
    width: 1.18rem;
    height: 1.1rem;
    position: absolute;
    /*right: 0;*/
    top:0;
    animation: upDown 1s 0.15s infinite;
    -webkit-animation: upDown 1s 0.15s infinite;
}
.btn_in{
    width: 1.18rem;
    height: 1.1rem;
    /*position: absolute;*/
    /*right: 0;*/
    /*bottom: 0;*/
}

.btn_in img{
    width: 100%;
    height: 100%
}
.click_b{
    width: 0.75rem;
    height: 0.70rem;
    position: absolute;
    bottom: 0.36rem;
    right: 0.22rem;
}
.click_b .c_buy{
    width: 100%;
    height: 100%;
}

@keyframes slide{
    0%{
        top: 7.4rem;
    }
    50%{
        top: 7.55rem;
    }
    100%{
        top: 7.4rem;
    }
}
@-webkit-keyframes slide{
    0%{
        top: 7.4rem;
    }
    50%{
        top: 7.55rem;
    }
    100%{
        top: 7.4rem;
    }
}
@keyframes upDown{
    0%{
        top:0;
    }
    50%{
        top:0.05rem;
    }
    100%{
        top: 0;
    }
}
@-webkit-keyframes upDown{
    0%{
        top:0;
    }
    50%{
        top:0.05rem;
    }
    100%{
        top: 0;
    }
}

@keyframes fadeInOut{
    0%{
        opacity: 1
    }
    50%{
        opacity: 0
    }
    100%{
        opacity: 1
    }

}
@-webkit-keyframes fadeInOut{
    0%{
        opacity: 1
    }
    50%{
        opacity: 0
    }
    100%{
        opacity: 1
    }

}

.features_list ul li{
    width: 3.2rem;
    height: 0.5rem;
    color: #fff;
    border-radius: 0.2rem;
    text-align: center;
    line-height: 0.5rem;
    background-color: #30382a;
    padding: 0.1rem;
    display: none;
    
}
.features_list ul li:nth-child(1){
    position: absolute;
    top: 3.0rem;
    left: 0.5rem;
}
.features_list ul li:nth-child(2){
   /* width:2rem;
    position: absolute;
    top: 7.8rem;
    left: 0.3rem;*/
    height:1rem;
    width: 1.1rem;
    position: absolute;
    top: 5.4rem;
    left: 4rem;
}
.features_list ul li:nth-child(3){
    width:2.2rem;
    position: absolute;
    top: 8.6rem;
    left: 1.6rem;
}
.features_list ul li:nth-child(4){
    height:1rem;
    width: 1.5rem;
    position: absolute;
    top: 5.4rem;
    left: 3.8rem;
}
.features_list span{
    display: block;
    width:0.2rem;
    height:0.2rem;
    border-radius: 50%;
    background-color: rgb(233,85,19);

}
.features_list .fir{
    position: absolute;
    top:5rem;
    left:1.1rem;
    animation: fadeInOut 1.5s infinite;
    -webkit-animation: fadeInOut 1.5s infinite;
}
.features_list .sec{
    position: absolute;
    top:5.4rem;
    left:1.8rem;

}
.features_list .thr{
    position: absolute;
    top:6.4rem;
    left:2.5rem;
    animation: fadeInOut 1.5s 1s infinite;
    -webkit-animation: fadeInOut 1.5s 1s infinite;
}
.features_list .for{
    position: absolute;
    top:4.4rem;
    left:3.8rem;
    animation: fadeInOut 1.5s 0.5s infinite;
    -webkit-animation: fadeInOut 1.5s 0.5s infinite;
}
.line_point b{
    color: #30382a;
    width: 0.03rem;
    /*display: none;*/
}
.line_point b:nth-child(1){
    position:absolute;
    bottom: 6.4rem;
    left: 1.4rem;
    height: 0;
    background-color: #000;
    transform: skew(-15deg);
}
.line_point b:nth-child(2){
    position:absolute;
    top: 4.6rem;
    left: 4.15rem;
    height: 0;
    background-color: #000;
    transform: skew(30deg);
}
/*.line_point b:nth-child(3){
    position:absolute;
    top: 5.6rem;
    left: 1.5rem;
    height: 2.2rem;
    background-color: #000;
    transform: skew(-18deg);
}*/
.line_point b:nth-child(3){
    position:absolute;
    top: 6.6rem;
    left: 2.68rem;
    height: 0;
    background-color: #000;
    transform: skew(5deg);
}